<header>
  <nav row class="wrap">
    <a      href="/"       id="nav-logo"   class="nav-link"></a>
    <a grow href="/core"   id="nav-core"   class="nav-link"><span class="nav-img"></span><span class="nav-text">core.js</span></a>
    <a grow href="/fermat" id="nav-fermat" class="nav-link"><span class="nav-img"></span><span class="nav-text">fermat.js</span></a>
    <a grow href="/boost"  id="nav-boost"  class="nav-link"><span class="nav-img"></span><span class="nav-text">boost.js</span></a>
    <a grow href="/slate"  id="nav-slate"  class="nav-link"><span class="nav-img"></span><span class="nav-text">slate.js</span></a>
  </nav>
</header>
