.s-button {
  border-radius: 4px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-side, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(center bottom, ellipse farthest-side, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 100%);
  background-size: 200% 150%;
  background-repeat: no-repeat;
  background-position: 200% 50%;
  -webkit-transition: box-shadow 0.3s, color 0.3s, background-position 0.4s, background-color 0.3s, opacity 0.3s;
  transition: box-shadow 0.3s, color 0.3s, background-position 0.4s, background-color 0.3s, opacity 0.3s;
}

.s-button:not(.disabled):hover {
  z-index: 10;
  color: #FFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  background-position: 10% 50%;
}

.s-button .icon {
  opacity: 0.8;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.s-button:not(.disabled):hover .icon {
  opacity: 1;
}

.s-button.disabled,
.s-button.disabled:hover {
  cursor: default;
  box-shadow: none;
}

.node {
  stroke: #FFF;
  fill: #b30469;
  stroke-width: 2px;
  cursor: move;
}

.node.male {
  fill: #20a0ff;
}

.node.female {
  fill: #ff207e;
}

.link {
  stroke: #DDD;
  stroke-width: 2px;
  fill: transparent;
}

.arrow {
  fill: #DDD;
}

.d3-outline {
  border: 1px solid #EEE;
}

#graph0 .node {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

#graph0.novertices .node {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  cursor: default;
}

#graph0 .link {
  stroke-dasharray: 70px 70px;
  stroke-dashoffset: 140px;
  -webkit-transition: stroke-dashoffset 1.6s;
  transition: stroke-dashoffset 1.6s;
}

#graph0.noedges .link {
  stroke-dashoffset: 70px;
}

#gt_flags {
  max-width: none;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.party-img {
  width: 260px;
  margin-top: -45px;
}

@media screen and (max-width: 730px) {
  .party-img {
    margin-top: -20px;
  }
}

@media screen and (max-width: 700px) {
  .party-img {
    margin-top: 0px;
  }
}

.person {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #FFF;
  border-radius: 20px;
}

.handshakes .duplicate {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.solved .handshakes .duplicate {
  opacity: 0.1;
}

.handshakes td {
  text-align: center;
  color: #666;
}

#planarity circle {
  fill: #0066FF;
  cursor: move;
  stroke: #CCE0FF;
  stroke-width: 2.5px;
}

#planarity circle.intersection {
  fill: #B0246B;
}

#planarity line {
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 2.5px;
}

#planarity line.intersection {
  stroke: #B0246B;
}

.m-draw-pointer {
  cursor: crosshair;
}

.m-draw-path {
  fill: none;
  stroke: black;
  stroke-width: 4px;
  pointer-events: none;
}

.map-bridge {
  fill: #F7931E;
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 20px;
}

.utility {
  z-index: 10;
}

.utility1,
.utility2,
.utility3 {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#planar-1 .link,
#planar-2 .link,
#planar-3 .link {
  stroke-width: 3px;
}

.clear-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.four-colour-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.four-colour-icon.on {
  padding: 0;
  border: 8px solid rgba(0, 0, 0, 0.6);
}

#dominoes {
  cursor: pointer;
}

#dominoes g rect {
  fill: #999;
}

#dominoes g text {
  fill: #F2F2F2;
  font-size: 18;
  letter-spacing: -1;
}

#dominoes g {
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform .1s linear;
  transition: transform .1s linear;
}

.tsm-box {
  position: relative;
}

.tsm-city {
  width: 30px;
  height: 30px;
  background: #C00;
  position: absolute;
  top: 0;
  border-radius: 20px;
  cursor: move;
}

.tsm-path {
  fill: none;
  stroke: #00C;
  stroke-width: 6;
}

.vertex-orders text {
  font-size: 20px;
  fill: #FFF;
}

.vertex-orders circle {
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

.graph-applications p {
  text-align: center;
  font-size: 90%;
  margin: .5em 0 1.5em;
}

.euler-sum {
  opacity: 0;
  margin: 0.4em 0px 0px;
  padding-top: .4em;
  border-top: 1px solid #ddd;
}