html,
body {
  font-family: 'Whitney Mathigon', Whitney, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.wrap {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.wrap.home {
  margin: 40px auto 200px;
}

strong {
  font-weight: 600;
}

::-moz-selection {
  background: rgba(31, 122, 255, 0.3);
}

::selection {
  background: rgba(31, 122, 255, 0.3);
}

p a {
  color: #1f7aff;
}

p a:hover {
  text-decoration: underline;
}

h3 {
  margin: 1.5em 0 0.5em;
  font-weight: 600;
}

h4 {
  font-weight: 600;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #BBB;
}

.warning {
  border-radius: 5px;
  color: #FFF;
  background: #b30469;
  padding: 8px 14px;
  font-size: 16px;
  margin-bottom: 40px;
}

header {
  background: #181824;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
}

.nav-link {
  width: 20%;
  float: left;
  height: 40px;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  padding-top: 10px;
  width: 40px;
  display: block;
}

.nav-img {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -14px 4px;
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}

.nav-text {
  margin-left: 4px;
}

#nav-logo {
  background: url(/images/logo.png) center left no-repeat;
  -webkit-background-size: 163px 28px;
  background-size: 163px 28px;
  width: 180px;
}

#nav-core {
  background: #b30469;
}

#nav-fermat {
  background: #1f7aff;
}

#nav-boost {
  background: #31b304;
}

#nav-slate {
  background: #ff941f;
}

#nav-core .nav-img {
  background-image: url(/images/menu-core.png);
}

#nav-fermat .nav-img {
  background-image: url(/images/menu-fermat.png);
}

#nav-boost .nav-img {
  background-image: url(/images/menu-boost.png);
}

#nav-slate .nav-img {
  background-image: url(/images/menu-slate.png);
}

@media screen and (max-width: 800px) {
  .nav-img {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .nav-img {
    display: inline-block;
  }

  .nav-text {
    display: none;
  }
}

.title {
  color: #FFF;
  padding: 1px 0 40px;
  margin-top: 50px;
  padding: 60px 0 100px;
  background: #242430;
}

.core .title {
  background: #ca4f96;
}

.fermat .title {
  background: #62a2ff;
}

.boost .title {
  background: #6fca4f;
}

.slate .title {
  background: #ffb462;
}

.title h1 {
  font-weight: 100;
  font-size: 48px;
  margin: 48px 0 12px;
}

.subtitle {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  margin-right: 20px;
  width: 260px;
}

.link {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 18px;
  padding: 4px 10px 4px 36px;
  margin-bottom: 15px;
  font-weight: 100;
  display: block;
  cursor: pointer;
  -webkit-transition: background .2s;
  transition: background .2s;
  position: relative;
}

.link > div {
  width: 20px;
  height: 20px;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  position: absolute;
  top: 7px;
  left: 7px;
  opacity: 0.75;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.link-download {
  background-image: url(/images/download.png);
}

.link-github {
  background-image: url(/images/github.png);
}

.link:hover {
  background: rgba(255, 255, 255, 0.35);
}

.link:hover > div {
  opacity: 1;
}

.sidebar {
  position: absolute;
  width: 180px;
  height: 100%;
}

.sidebar.fixed {
  position: fixed;
  top: 50px;
  bottom: 0;
  height: auto;
}

.sidebar-fill {
  position: absolute;
  right: 100%;
  height: 100%;
  width: 1000px;
  top: 0;
}

.sidebar-wrap {
  position: relative;
  z-index: 10;
  width: 200px;
  margin-left: -20px;
  height: 100%;
  overflow: auto;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.core .sidebar,
.core .sidebar-fill {
  background: #f0cde1;
}

.fermat .sidebar,
.fermat .sidebar-fill {
  background: #d2e4ff;
}

.boost .sidebar,
.boost .sidebar-fill {
  background: #d6f0cd;
}

.slate .sidebar,
.slate .sidebar-fill {
  background: #ffead2;
}

.sidebar-h2 {
  font-size: 16px;
  font-weight: 600;
  padding: 3px 0 3px 12px;
  margin: 9px 0 1px 8px;
  cursor: pointer;
  -webkit-transition: background .1s, color .1s;
  transition: background .1s, color .1s;
}

.sidebar-h3 {
  font-size: 14px;
  font-weight: 100;
  padding: 2px 0 2px 10px;
  margin: -2px 0 -2px 18px;
  cursor: pointer;
  -webkit-transition: background .1s, color .1s;
  transition: background .1s, color .1s;
}

.sidebar-h2:hover,
.sidebar-h2.active {
  color: #FFF;
}

.sidebar-h3:hover,
.sidebar-h3.active {
  color: #FFF;
  font-weight: 400;
}

.core .sidebar-h2:hover,
.core .sidebar-h2.active,
.core .sidebar-h3:hover,
.core .sidebar-h3.active {
  background: #ca4f96;
}

.fermat .sidebar-h2:hover,
.fermat .sidebar-h2.active,
.fermat .sidebar-h3:hover,
.fermat .sidebar-h3.active {
  background: #62a2ff;
}

.boost .sidebar-h2:hover,
.boost .sidebar-h2.active,
.boost .sidebar-h3:hover,
.boost .sidebar-h3.active {
  background: #6fca4f;
}

.slate .sidebar-h2:hover,
.slate .sidebar-h2.active,
.slate .sidebar-h3:hover,
.slate .sidebar-h3.active {
  background: #ffb462;
}

.content {
  padding: 40px 0 100px 220px;
}

h2 {
  font-weight: 600;
  font-size: 1.8em;
  border-top: 4px solid #d3d3d6;
  padding-top: 1em;
  margin-top: 1.5em;
}

h2:first-child {
  border: none;
  margin-top: 0;
  padding: 0;
}

.core h2 {
  border-color: #f0cde1;
}

.fermat h2 {
  border-color: #d2e4ff;
}

.boost h2 {
  border-color: #d6f0cd;
}

.slate h2 {
  border-color: #ffead2;
}

code.usage {
  margin: 0 0 4px 0;
  display: inline-block;
  padding: 3px 4px;
}

@media screen and (max-width: 640px) {
  .sidebar {
    display: none;
  }

  .content {
    padding-left: 0;
  }
}

.home footer {
  padding: 12px 0;
  color: rgba(255, 255, 255, 0.6);
  background: #181824;
  font-size: 14px;
}

.home footer a {
  text-decoration: underline;
}

.home footer a:hover {
  color: #FFF;
}

code,
pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-size: 90%;
}

:not(pre) > code {
  word-break: normal;
  white-space: nowrap;
  color: #333;
  background-color: #E9E9E9;
  border-radius: 3px;
  padding: 4px 6px 2px;
  margin: -2px 1px;
}

pre {
  background-color: #f5f5f5;
  border-radius: 5px;
  display: block;
  padding: 8px 14px;
  margin: 0 0 1em 0;
  color: #333;
  font-size: 90%;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  overflow: scroll;
}

p > code:first-child {
  font-weight: bold;
}

.home p > code:first-child {
  font-weight: 400;
}

.code-type {
  color: #1f7aff;
  opacity: 0.5;
}

.code-param {
  color: #1f7aff;
}

.code-return {
  color: #31b304;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  line-height: 1.5;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #242430;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #1f7aff;
  opacity: 0.5;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #b30469;
}

.token.boolean,
.token.number {
  color: #31b304;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #31b304;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #ff941f;
}

.token.atrule,
.token.attr-value {
  color: #ff941f;
}

.token.keyword {
  color: #1f7aff;
}

.token.regex,
.token.important {
  color: #b30469;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}