article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

svg {
  display: block;
  overflow: hidden;
}

/* =================================================================================== */

/* ==================================== HTML TAGS ==================================== */

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: inherit;
  color: inherit;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

::selection {
  background: rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  cursor: default;
  color: #333;
  background-color: #fff;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.clear {
  clear: both;
}

[hidden] {
  display: none;
}

.bbox {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nocallout {
  -webkit-touch-callout: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

/* ==================================================================================== */

/* ==================================== TYPOGRAPHY ==================================== */

p {
  margin: 0 0 1em 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 2.2em;
  margin: 2.2em 0 1em 0;
}

h2 {
  font-size: 1.8em;
  margin: 1.8em 0 1em 0;
}

h3 {
  font-size: 1.2em;
  margin: 1.2em 0 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1em 0 1em 0;
}

h5 {
  font-size: 0.85em;
  margin: 1em 0 1em 0;
}

h6 {
  font-size: 0.75em;
  margin: 1em 0 1em 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active,
a:hover {
  outline: 0;
}

.sansSerif {
  font-family: "futura-pt", Futura Std, "Futura", "Helvetica", sans-serif;
}

.serif {
  font-family: "minion-pro", Minion Pro, "Times New Roman", Times, serif;
}

small,
.small {
  font-size: 80%;
}

b,
strong {
  font-weight: bold;
}

em,
dfn {
  font-style: italic;
}

.u {
  text-decoration: underline;
}

.o {
  text-decoration: overline;
}

.d {
  text-decoration: line-through;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.overline {
  border-top: solid 1px #333;
  /*padding-top: 1px;*/
}

.smallcaps {
  -webkit-font-feature-settings: "smcp" on;
  -moz-font-feature-settings: "smcp" on;
  font-feature-settings: "smcp" on;
}

/* use small-cap alternate glyphs */

.caption {
  font-size: 0.8em;
  margin: 0 0 0.6em 0;
  text-align: left;
  color: #888;
}

.light {
  opacity: 0.6;
}

ul,
ol {
  margin: 1em 0 1em 1.5em;
  padding: 0;
  text-align: left;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0.5em 0 0 1.5em;
}

li {
  margin: 0 0 0.5em 0;
}

ul.unstyled,
ol.unstyled,
nav ul,
nav ol {
  margin: 0;
  list-style: none;
}

ul.unstyled li,
ol.unstyled li {
  margin: 0;
}

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background: #AAA;
  margin: 1em 0;
  padding: 0;
  clear: both;
}

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  height: auto;
  max-width: 100%;
}

mark {
  background: rgba(237, 228, 0, 0.6);
  color: #000;
  padding: 2px 4px;
}

figure {
  margin: 0;
}

.break {
  -ms-word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

blockquote {
  padding: 0 0 0 1em;
  margin: 1em 1em;
  border-left: 0.5em solid #EEE;
}

blockquote p,
blockquote .caption {
  margin: 0;
}

q {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

.red {
  color: #D90000;
}

.orange {
  color: #F15A24;
}

.yellow {
  color: #edd200;
}

.lime {
  color: #b2d300;
}

.green {
  color: #00B200;
}

.cyan {
  color: #29ABE2;
}

.blue {
  color: #006DD9;
}

.violet {
  color: #662D91;
}

.purple {
  color: #9d0069;
}

.pink {
  color: #ED1E79;
}

.lgrey {
  color: #AAA;
}

.dgrey {
  color: #666;
}

/* ================================================================================ */

/* ==================================== TABLES ==================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

.td_bottom {
  border-bottom: 1px solid #AAA;
}

.td_right {
  border-right: 1px solid #AAA;
}

/* ================================================================================ */

/* =================================== FLEX BOX =================================== */

[row],
[column] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

[row] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

[column] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

[row] > * > p:last-child,
[column] > * > p:last-child {
  margin-bottom: 0;
}

[row][right],
[column][up] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

[row]:after,
[column]:after {
  content: " ";
  display: block;
  clear: both;
}

[row] > *,
[column] > * {
  float: left;
  width: 200px;
}

[row] [grow],
[column] [grow] {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
}

[row] [shrink],
[column] [shrink] {
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1;
  flex-shrink: 1;
}

/* ============================================================================== */

/* ==================================== CODE ==================================== */

code,
pre {
  font-family: source-code-pro, "Source Code Pro", "Courier New", monospace;
  color: #666;
}

code {
  line-height: 1;
  padding: 1px 4px;
  white-space: nowrap;
  background-color: #EEE;
  border: 1px solid #DDD;
  border-radius: 3px;
  margin: -2px 2px;
}

pre {
  display: block;
  padding: 0.6em;
  margin: 0 0 1em 0;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

/* ======================================================================================= */

/* ================================= CONDITIONAL DISPLAY ================================= */

.isMobile .onlyDesktop,
.notMobile .onlyMobile,
.onlyPrint,
.onlyScreen {
  display: none !important;
}

@media print {
  .onlyPrint {
    display: inherit !important;
  }

  .onlyScreen {
    display: none !important;
  }
}

@-ms-viewport {
  width: device-width;
}

/* =============================================================================== */

/* ==================================== FORMS ==================================== */

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  display: block;
  width: 100%;
  border-bottom: 1px solid #DDD;
}

table.form {
  margin: 0 0 1.5em 0;
}

table.form td {
  padding: 4px;
  text-align: left;
}

table.form .submit td {
  text-align: right;
  padding-top: 12px;
}

table.form tr td:first-of-type {
  text-align: right;
  font-weight: 600;
  padding: 7px 6px;
  vertical-align: top;
}

button,
input,
select,
textarea,
.button {
  margin: 0;
  padding: 3px 6px;
  /*display: block;*/
  max-width: 100%;
  font-size: 1em;
  margin-right: 8px;
  outline: none;
  font-family: inherit;
  line-height: 1.4;
  vertical-align: baseline;
  border-radius: 4px;
  background: #E9E9EA;
  border: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

form *:focus,
form a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  outline-width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  opacity: 0.5;
  cursor: default;
}

input:invalid,
textarea:invalid {
  background-color: #FCC !important;
}

.password-wrap.off {
  cursor: pointer !important;
}

.password-wrap.off:hover .password-info {
  text-decoration: underline;
}

.password-wrap input {
  margin-right: 0;
  opacity: 1;
}

.password-info {
  display: inline-block;
  padding: 3px 6px;
  font-size: 1em;
  margin-right: 8px;
  line-height: 1.4;
  vertical-align: baseline;
  background: #E9E9EA;
  text-align: right;
  height: 26px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.password-info.weak {
  color: #d32900;
}

.password-info.medium {
  color: #f06600;
}

.password-info.strong {
  color: #008915;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  border-radius: 4px;
  padding: 3px 16px 3px 16px;
  width: auto;
  min-width: 60px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background: #242430;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: box-shadow 0.2s, color 0.2s;
  transition: box-shadow 0.2s, color 0.2s;
}

button.light,
input[type="button"].light,
input[type="reset"].light,
input[type="submit"].light,
.button.light {
  background: #65656E;
}

button[disabled],
input[disabled],
.button.disabled {
  cursor: default;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover {
  color: #FFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

select {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQCAQAAACi2KcjAAAAbUlEQVR4AYXNsQ0DIBBDUUrGoKS8URghZcZgc0e/SIP0dbgA2XpicDKzM9JnZ3KPQL65qZZUbj5/dHIJrCHkgBZPZw8h6y2qJcVPwpyAlPmio7cgYU5AyoyAlBkBCXMCEuYEJMwJSJgTkLOy7Qe8ZNxiADU6tgAAAABJRU5ErkJggg==);
  padding-right: 32px;
  background-size: 13px 8px;
  background-repeat: no-repeat;
  background-position: right 17px center;
  cursor: pointer;
}

select:hover,
select:focus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQCAQAAACi2KcjAAAAbUlEQVR4AYXLURHAIAwEURTgBwdVEFsYwVZ1pOx0+GMnvQ+a5F7jy55Ptjq71Xn/YeWbUZLYrXXQ3AOJkpAJGvyWDHIyzsLZpXFZVgTkTC9+1C3ImRCQMyEgZ0JAzoSAnAkBORMCcibEESzs9gHTnA7NSweqjQAAAABJRU5ErkJggg==);
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  max-width: none;
  /*letter-spacing: 0;
    -webkit-line-break: after-white-space;
    -webkit-nbsp-mode: space;
    text-indent: 0;
    white-space: pre-wrap;
    word-spacing: 2px;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;*/
}

textarea[contenteditable] {
  -webkit-appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
  padding: 0;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
  bottom: -3px;
}

input[type='radio'] {
  border-radius: 100%;
}

input[type='checkbox']:checked::before,
input[type='radio']:checked::before {
  content: '';
  display: block;
  -webkit-user-select: none;
}

label {
  cursor: pointer;
}

input[type='checkbox']:checked::before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA7UlEQVRYw+1W2w2EIBDcEq4EPyzAEijBEijBEizBEiyBEijBEiiBDrzdRBNDhEMey304yXxJGGCGQYAXjOj74YNUyLWF+IA0yB1pucXlIXxy4xRfXXGygsvv7Z/ELeWAK2zWESeKluJTS3HF5bm5ETfVQ+cJXLrv5NeTVeNY7RFfckqDvJQJJZN+9J7JaHddZL1mH73PRzqN8SbxPnGVEyYbmHiJGGezUh+4y9cu14Hvc6lC2RNoar7fMZSlC2Z+IK65fibKXbsCNVt395dFdD9uBss7PzbZfUQoBXDCKSEN3HBqWEALHHnQ8KIQvmbBQdI1BDPFAAAAAElFTkSuQmCC);
  background-size: 16px 16px;
  height: 100%;
  width: 100%;
}

input[type='radio']:checked::before {
  background-color: #006DD9;
  border-radius: 100%;
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  top: 3px;
}

input:-webkit-autofill {
  background-color: #E9E9EA !important;
  color: inherit !important;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* ======================================================================================== */

/* ==================================== RETINA DISPLAY ==================================== */

/* ======================================================================================= */

/* ==================================== PRINT DISPLAY ==================================== */

@media print {
  body {
    color: #000;
    background: transparent;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3 {
    page-break-after: avoid;
  }

  p a,
  p a:visited {
    text-decoration: underline;
  }

  p a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  pre,
  blockquote,
  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

@page {
    margin: 0.5cm;
}
}