extends _template

block vars
  - var title = 'core.js'
  - var subtitle = 'JavaScript utility function and classes, including array and string helper functions, type checking and event classes.'

block body

  .x-red
    .hero.slanted
      .container.narrow
        h1
          +icon('core', 54)
          | core.js
        p.subtitle= subtitle
        .btn-row: a.btn.btn-white.m-red(href="https://github.com/mathigon/core.js")
          +icon('github', 24)
          | View on Github

    .container.narrow.api
      .sidebar
        .sidebar-body
      .api-body
        include:markdown-it(html=true) ../docs/core.md
        +footer()
