extends _template
include _docs

block vars
  - var title = 'core.ts'
  - var subtitle = 'JavaScript utility function and classes, including array and string helper functions, type checking and event classes.'

block body

  .x-red
    .hero.slanted
      .container.narrow
        h1
          +icon('controls', 54)
          | core.ts
        p.subtitle= subtitle
        .btn-row: a.btn.btn-white.m-red(href="https://github.com/mathigon/core.js")
          +icon('github', 24)
          | View on Github

    .container.api
      .sidebar
        .sidebar-body
      .api-body
        for module in core.children
          +docs(module)
        +footer()
