extends _template

block vars
  - var id = 'core'
  - var title = 'core.js'
  - var subtitle = 'Collection of Array and String prototypes, type and equality checking methods, Promises and a powerful Class framework.'

block body

  .sidebar
    .sidebar-wrap
    .sidebar-fill

  #api.content

    include:marked ../../core.js/docs/utilities.md
    include:marked ../../core.js/docs/types.md
    include:marked ../../core.js/docs/arrays.md
    include:marked ../../core.js/docs/strings.md
    include:marked ../../core.js/docs/evented.md
    include:marked ../../core.js/docs/observable.md

    footer © 2016 Mathigon, #[a(href="https://github.com/Mathigon/core.js/blob/master/LICENSE") MIT License]

block scripts
  script(src='/scripts.js')
