extends _template
include _docs

block vars
  - var title = 'euclid.ts'
  - var subtitle = '2D Euclidean geometry classes, utilities, and drawing tools.'

block body

  .x-purple
    .hero.slanted
      .container.narrow
        h1
          +icon('compass', 54)
          | euclid.ts
        p.subtitle= subtitle
        .btn-row: a.btn.btn-white.m-purple(href="https://github.com/mathigon/euclid.js")
          +icon('github', 24)
          | View on Github

    .container.api
      .sidebar
        .sidebar-body
      .api-body
        for module in euclid.children
          +docs(module)
        +footer()
