extends _template

block vars
  - var id = 'fermat'
  - var title = 'core.js'
  - var subtitle = 'High-performance mathematics utilities, random number generation, Complex number, Vector, Matrix and geometry classes, unit conversion and expression parsing.'

block body

  .sidebar
    .sidebar-wrap
    .sidebar-fill

  #api.content

    h1 Introduction
    p Currently, fermat.js can only use JavaScript's native numbers, and is restricted to their size and precision. In the future, we want to create BigNum and arbitrary precision number classes that work with all functions below.

    include:marked ../../fermat.js/docs/arithmetic.md
    include:marked ../../fermat.js/docs/number-theory.md
    include:marked ../../fermat.js/docs/combinatorics.md
    include:marked ../../fermat.js/docs/probability.md
    include:marked ../../fermat.js/docs/statistics.md
    include:marked ../../fermat.js/docs/complex.md
    include:marked ../../fermat.js/docs/vector.md
    include:marked ../../fermat.js/docs/matrix.md
    include:marked ../../fermat.js/docs/geometry.md
    include:marked ../../fermat.js/docs/cryptography.md
    include:marked ../../fermat.js/docs/numeric.md
    include:marked ../../fermat.js/docs/units.md
    include:marked ../../fermat.js/docs/expression.md
    include:marked ../../fermat.js/docs/bignum.md

    footer © 2016 Mathigon, #[a(href="https://github.com/Mathigon/core.js/blob/master/LICENSE") MIT License]

block scripts
  script(src='/scripts.js')
