extends _template
include _docs

block vars
  - var title = 'fermat.ts'
  - var subtitle = 'Powerful mathematics and statistics library, containing everything from number theory to random numbers and linear algebra classes.'

block body

  .x-blue
    .hero.slanted
      .container.narrow
        h1
          +icon('lightbulb', 54)
          | fermat.ts
        p.subtitle= subtitle
        .btn-row: a.btn.btn-white.m-blue(href="https://github.com/mathigon/fermat.js")
          +icon('github', 24)
          | View on Github

    .container.api
      .sidebar
        .sidebar-body
      .api-body
        for module in fermat.children
          +docs(module)
        +footer()
