extends _template

block vars
  - var title = 'Mathigon Markdown'
  - var subtitle = 'Guidelines about the tone, style, design and format for Mathigon’s courses.'

block body

  .x-red
    .hero.slanted
      .container.narrow
        h1
          +icon('book', 54)
          | Content Development Guidelines
        p.subtitle= subtitle

    .container.narrow

      include:markdown-it(html=true) ../pages/guidelines.md
      +footer()
