extends _template
include _docs

block vars
  - var title = 'hilbert.ts'
  - var subtitle = 'JavaScript expression parsing, MathML rendering and CAS.'

block body

  .x-yellow
    .hero.slanted
      .container.narrow
        h1
          +icon('lightbulb', 54)
          | hilbert.ts
        p.subtitle= subtitle
        .btn-row: a.btn.btn-white.m-yellow(href="https://github.com/mathigon/hilbert.js")
          +icon('github', 24)
          | View on Github

    .container.api
      .sidebar
        .sidebar-body
      .api-body
        for module in hilbert.children
          +docs(module)
        +footer()
