extends _template

block vars
  - var title = 'Mathigon.io'
  - var subtitle = 'Discover the open source JavaScript libraries that power Mathigon, or contribute to our interactive textbooks.'

block body

  .hero.slanted
    .container.narrow
      h1
        +icon('lightbulb', 54)
        | Mathigon Open Source
      p.subtitle Help us build the future of education!
      //- .btn-row
        a.btn.btn-red(href="https://github.com/mathigon") #[+icon('github', 24)] Github

  .container.narrow.home
    h2.text-center TypeScript Libraries

    p.text-center These libraries power Mathigon, and maybe they are also useful for your own projects:

    .row.padded.tiles
      a.x-red(href="/core")
        .lib-icon: +icon('construction', 60)
        h3 core.js
        p JavaScript utility function and classes, including array and string helper functions, type checking and event classes.
      a.x-blue(href="/fermat")
        .lib-icon: +icon('lightbulb', 60)
        h3 fermat.js
        p Powerful mathematics and statistics library, containing everything from number theory to random numbers and linear algebra classes.
      a.x-green(href="/boost")
        .lib-icon: +icon('brush', 60)
        h3 boost.js
        p Simplifying browser APIs – from DOM manipulation to web components, event handling, animations, routing, multi-threading and AJAX requests.
      a.x-purple(href="/euclid")
        .lib-icon: +icon('compass', 60)
        h3 euclid.js
        p 2D Euclidean geometry classes, utilities, and drawing tools.
      a.x-yellow(href="/hilbert")
        .lib-icon: +icon('equation', 60)
        h3 hilbert.js
        p JavaScript expression parsing, MathML rendering and CAS.


    h2.text-center Open Educational Resources

    p.text-center All our textbook chapters are open source. You can browse the code on GitHub, or run your own local server to preview changes or additions (#[a(href="https://github.com/mathigon/textbooks/blob/master/docs/setup.md") instructions]). Every chapter consists of a few different components, which are documented here:

    .row.padded.tiles
      a.x-blue(href="/markdown")
        .lib-icon: +icon('notes', 60)
        h3 Markdown
        p Mathigon’s content is written in a special flavour of Markdown that makes it very easy to add interactivity, styling and custom markup.
      a.x-red(href="/interactivity")
        .lib-icon: +icon('settings', 60)
        h3 Interactivity
        p Every step in a chapter can be linked to custom JavaScript code that sets up interactivity, events or personalisation.
      a.x-green(href="/translations")
        .lib-icon: +icon('language', 60)
        h3 Translations
        p Help us reach even more students by translating Mathigon into other languages.


    h2.text-center Contribute to Mathigon

    p We welcome additions, corrections or other contributions from the community! Please #[a(href="mailto:dev@mathigon.org") contact us] if you have any questions, or ideas what you want to work on.

    p To make any changes you need to create a #[a(href="https://github.com/join") GitHub account]. Then you can send us Pull Requests with your changes, which we'll review and deploy. If you are unfamiliar with Git, start by reading about how to #[a(href="https://help.github.com/articles/set-up-git/") set up Git on your computer], and how to #[a(href="https://guides.github.com/introduction/flow/") contribute code to public repos].


    h2.text-center Work at Mathigon

    p Mathigon is hiring! At #[a(href="https://mathigon.org/careers") mathigon.org/careers], you can learn more about our team and available positions. Please #[a(href="mailto:careers@mathigon.org") email us] if you have any questions.

    +footer()
