extends _template

block vars
  - var title = 'Interactivity'
  - var subtitle = 'Every step in a chapter can be linked to custom JavaScript code that sets up interactivity, events or personalisation.'

block body

  .x-red
    .hero.slanted
      .container.narrow
        h1
          +icon('settings', 54)
          | Interactivity
        p.subtitle= subtitle

    .container.narrow
      include:markdown-it(html=true) ../../textbooks/docs/interactives.md
      +footer()
