extends _template

block vars
  - var title = 'Mathigon Markdown'
  - var subtitle = 'Mathigon’s content is written in a special flavour of Markdown that makes it very easy to add interactivity, styling and custom markup.'

block body

  .x-blue
    .hero.slanted
      .container.narrow
        h1
          +icon('notes', 54)
          | Mathigon Markdown
        p.subtitle= subtitle

    .container.narrow
      include:markdown-it(html=true) ../pages/markdown.md
      +footer()
