extends _template

block vars
  - var title = 'Translations'
  - var subtitle = 'Help us reach even more students by translating Mathigon into other languages.'

block body

  .x-green
    .hero.slanted
      .container.narrow
        h1
          +icon('language', 54)
          | Translations
        p.subtitle= subtitle

    .container.narrow
      include:markdown-it(html=true) ../../textbooks/docs/translations.md
      +footer()
